@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@layer base {
  :root {
    --color-cream: 249 246 240;
    --color-espresso: 44 42 41;
    --color-midtone: 154 147 140;
  }

  .dark {
    --color-cream: 249 246 240;
    --color-espresso: 44 42 41;
    --color-midtone: 154 147 140;
  }
}
